body {
 margin:0;
 background: rgb(234, 223, 153);
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
svg.rose {
  display: block;
  width:600px;
  padding-top: 10em;
  margin-top: -100px;
}

h1 {
 
  
  
    color: #ff69b4; /* Color del texto */
    font-size: 36px;
    margin-top: 100px;


}

@keyframes rose-animation {
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100%{
       transform: scale(1);
    opacity: 1;
  }
}

.cls-3,.cls-4,.cls-5,.cls-6,.cls-7,.cls-8,.cls-9,.cls-10,.cls-11,.cls-12,.cls-13,.cls-14,.cls-15,.cls-16,.cls-17{
  transform: scale(0);
  transform-origin: center center;
  opacity: 0;
   animation: rose-animation 2s ease infinite 0.1s alternate;
}
.cls-6,.cls-7,.cls-8,.cls-9,.cls-10,.cls-11,.cls-12,.cls-13,.cls-14,.cls-15,.cls-16,.cls-17{
  transform: scale(0);
  transform-origin: center center;
  opacity: 0;
   animation: rose-animation 2s ease infinite 0.34s alternate;
}
.cls-9,.cls-10,.cls-11,.cls-12,.cls-13,.cls-14,.cls-15,.cls-16,.cls-17{
  transform: scale(0);
  transform-origin: center center;
  opacity: 0;
   animation: rose-animation 2s ease infinite 0.5s alternate;
}
cls-12,.cls-13,.cls-14,.cls-15,.cls-16,.cls-17{
  transform: scale(0);
  transform-origin: center center;
  opacity: 0;
   animation: rose-animation 2s ease infinite 0.2s alternate;
}
.boingInUp {
  -webkit-animation-name: boingInUp;
          animation-name: boingInUp;
}
@-webkit-keyframes boingInUp {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-transform: perspective(800px) rotateX(-90deg);
            transform: perspective(800px) rotateX(-90deg);
  }
  
  50% {
    opacity: 1;
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-transform: perspective(800px) rotateX(50deg);
            transform: perspective(800px) rotateX(50deg);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-transform: perspective(800px) rotateX(0deg);
            transform: perspective(800px) rotateX(0deg);
  }
}
#hojas{
  animation: boingInUp 2s ease infinite alternate  ;
}
@keyframes boingInUp {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-transform: perspective(800px) rotateX(-90deg);
            transform: perspective(800px) rotateX(-90deg);
  }
  
  50% {
    opacity: 1;
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-transform: perspective(800px) rotateX(50deg);
            transform: perspective(800px) rotateX(50deg);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-transform: perspective(800px) rotateX(0deg);
            transform: perspective(800px) rotateX(0deg);
  }
}
.puffIn {
  -webkit-animation-name: puffIn;
          animation-name: puffIn;
}
@-webkit-keyframes puffIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(2,2);
            transform: scale(2,2);
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1,1);
            transform: scale(1,1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}
@keyframes puffIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(2,2);
            transform: scale(2,2);
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  50%{
    opacity: 0.3;
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1,1);
            transform: scale(1,1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}
#tallos{
  animation: puffIn 2s infinite ease alternate;
}
#sombra_1{
  visibility:hidden;
}

//////////////////////////////////////////////////
:root{
        --heart-color: #ff5873;
        --hover-color: #C1275C;
        --background-color: #ebc8c0;
        --white: #fff;
    }
  body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    color: var(--heart-color);
    background-image: url('images/mini-hearth.png');
    background-size: 50%;
  }
  .card {
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    width: 300px;
  }
  .title {
    font-size: 24px;
    margin-top: 0;
  }
  .heart {
    width: 200px;
    height: 200px;
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    background-repeat:  no-repeat;
    background-size: 100%;
  }
  
  .button {
    background-color: var(--heart-color);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 80px;
  }
  .button.button__negative{
    background-color: var(--white);
    color: var(--heart-color);
    border: 1px solid var(--heart-color);
  }
  .button.button__error{
    width: 100%;
    display: none;
  }
  .button:focus {
    outline: none;
  }
  .text {
    font-size: 14px;
    margin-top: 30px;
  }
  .img-fluid {
    width: 100%;
    height: auto;
  }